<div class="mt-5 ">
  <h1 class="mb-5">Welcome to Admin Dashboard</h1>
  <div class="container box1">
    
      <div class="card text-center shadow ">
        <div class="card-body">
          <h5 class="card-header">Total Orders</h5>
          <p class="card-text mt-5">All book Orders with Buyer Info</p>
          <a  class="btn btn-primary" routerLink="/allorders">View</a>
        </div>

    </div>
    
      <div class="card text-center shadow">
        <div class="card-body">
          <h5 class="card-header">Books Available</h5>
          <p class="card-text mt-5">All Books that are available in our system.</p>
          <a  class="btn btn-primary" routerLink="/totalbooks">View</a>
        </div>
      
    </div>
  
    
      <div class="card text-center shadow">
        <div class="card-body">
          <h5 class="card-header">Registered Users</h5>
          <p class="card-text mt-5">All authorized users that are registered on our Site.</p>
          <a  class="btn btn-primary" routerLink="/totalusers">View</a>
         </div>
      </div>

  </div>
</div>