
<h1>About Us</h1>
<h3>Love to read? There are many communities made specifically for book lovers of any possible genre, whether to buy,<br>
     browse, or talk about the books that have impacted your life.Whether you're looking for a textbook, a comic book, <br>
     a romance, or a cookbook, the chances are very good that you'll find it with one of the book websites listed below.<br>
    Most of these sites let you get involved in discussions, reviews, and active conversation. Plus, buying books on the
   web can <br>
   end up saving you some serious money, not to mention introduce you to a huge variety of books that you may not even know exist.
   <br>
   <br>
    You can also use these sites to instantly download books to your e-reader, read the full book online from your web browser,<br>
     interact with your favorite authors, and trade books with other readers. Whatever you're looking for, there's a good chance you'll be able to find it here.</h3>

     <br>
     <br>

     <img src="https://dl.dropbox.com/s/eqbul3rec2i66zy/About%20Us.webp?dl=0">



      <section class="subscription-packages mt-3 mb-3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card shadow">
                <!-- <img src="../../assets/Images/Golf.mp4" class="card-img-top" alt="Monthly Subscription"> -->
                <video autoplay loop src="https://dl.dropbox.com/s/vzxa3klpomobn6x/silver.mp4?dl=0" class="card-img-top" alt="Monthly Subscription"></video>
                <div class="card-body">
                  <h2 class="card-title">Monthly Subscription</h2>
                  <p class="card-text">Unlock unlimited access to our premium content for a month.</p>
                  <h3 class="card-price">$9.99</h3>
                  <a  class="btn btn-primary">Subscribe</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow">
                <video  autoplay loop src="https://dl.dropbox.com/s/2ovopsyvn46445a/Golf.mp4?dl=0" class="card-img-top" alt="Yearly Subscription"></video>
                <div class="card-body">
                  <h2 class="card-title">Yearly Subscription</h2>
                  <p class="card-text">Get a full year of unlimited access at a discounted price.</p>
                  <h3 class="card-price">$79.99</h3>
                  <a  class="btn btn-primary">Subscribe</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow">
                <!-- <img src="../../assets/Images/platinum.mp4" class="card-img-top" alt="Lifetime Subscription"> -->
                <video  autoplay loop src="https://dl.dropbox.com/s/k3ypspas80soqyd/platinum.mp4?dl=0" class="card-img-top" alt="Lifetime Subscription"></video>
                <div class="card-body">
                  <h2 class="card-title">Lifetime Subscription</h2>
                  <p class="card-text">Enjoy lifetime access to our premium content.</p>
                  <h3 class="card-price">$299.99</h3>
                  <a class="btn btn-primary">Subscribe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
<!-- <app-footer></app-footer> -->