
   
<div class="d-flex align-content-start flex-wrap" >
    <div class="cardContainer m-md-4 m-2"  *ngFor="let book of books">
<a routerLink="../../product/{{book.bookId}}">
        <div class="card shadow" id="cardItem" style="width: 18rem" >
            <img src={{book.image}} class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">{{book.bookName}}</h4>
              <h5 class="card-subtitle mb-2 text-muted">{{book.authorName}}</h5>
              <h5 class="card-subtitle mb-2 text-muted">{{book.category}}</h5>
              <h5 class="card-subtitle mb-2 text-muted">{{book.bookCondition}}</h5>
              <h4 class="card-title">&#8377;{{book.price}}</h4>

              <!-- <p class="card-text">{{book.bookDetails}}</p> -->
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-outline-dark ms-2" ><i class="fa-solid fa-cart-shopping"></i></a>

            </div>
          </div>

        </a>        
    </div>

</div>
<router-outlet></router-outlet>  
