html,

body,

.intro {
  margin-top: 50px;
}

#header{

    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: auto;
    margin:auto;
    display: flex;
    margin-top: 50px;
}


table td,

table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}


.card {
  border-radius: .5rem;
}




.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}

thead {
  top: 0;
  position: sticky;
}