
<div >
    <h1>Admin Details</h1>
    <div class="total">
    <div class="row ">
        <div class="col-md-4 mx-5">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5 class="card-title">Admin 1</h5>
                    <p class="card-text"><strong>Name:</strong>Arun Saji </p>
                    <p class="card-text"><strong>Mobile:</strong> 9542581760</p>
                    <p class="card-text"><strong>Email:</strong> Arun@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mx-5">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5 class="card-title">Admin 2</h5>
                    <p class="card-text"><strong>Name:</strong>Rishi </p>
                    <p class="card-text"><strong>Mobile:</strong> 9542581760</p>
                    <p class="card-text"><strong>Email:</strong> Rishi@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="total">
    <div class="row">
        <div class="col-md-4 mx-5">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5 class="card-title">Admin 3</h5>
                    <p class="card-text"><strong>Name:</strong>Aruju  </p>
                    <p class="card-text"><strong>Mobile:</strong> 9542581760</p>
                    <p class="card-text"><strong>Email:</strong> aruju@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mx-5">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h5 class="card-title">Admin 4</h5>
                    <p class="card-text"><strong>Name:</strong>Srinivasa Reddy </p>
                    <p class="card-text"><strong>Mobile:</strong> 9542581760</p>
                    <p class="card-text"><strong>Email:</strong> srinivasareddy@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>